h1 {
	font-family: helvetica;
	text-align: center;
}

h2 {
	display: inline-block;
	font-family: helvetica;
	padding: 0px 30px 0px 0px;
}

#container {
	overflow: auto ;
	width: 960px;
	margin: auto;
}

.square {
	background-color: black;
	border: 1px solid white;
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: -4px;
}